.nav-div{
    display: flex;  
    justify-content: center;
    align-content: center;
}   
input{
    margin-left: 10px;
    width: 30%;
    font-size: medium;
    outline: none;  
    padding-left: 10px;
}
input[type="text"]{
    color: black;
    border: none;
}
button{
    width: 7%;
    margin-left: 0px;
}
.Search{
    outline: none;  
    background-color: #fff;
    color: #fff;
    width: 30px;
    padding: 1.75rem 1px;
    cursor: pointer;
    margin-right: 7%;
}
.Category{
    text-align: center;
    padding: 0 13%;
}
.cate_img{
    height: 60%;
    width: 60%;
}
.categories_txt{
    font-weight: bolder;
    font-size: small;
}

.prod{
    margin-bottom: 10px;
}

.product-box{
    margin-top: 10px;
}
.product_time{
    padding-left: 10px ;
    color: grey;
    font-size: small;
}
.product_Desc{
    
    font-weight: bold;
    font-size: large;
}
.prod_list{
    display: flex;  
    justify-content: center;
    align-content: center;

}
.prod_img{
    padding: 0 10px;
}
h4{
    font-weight: bolder;
}
h5{
    color: rgb(43, 145, 43);
}