.main_div{
    display: flex;  
}   
input{
    margin-left: 10px;
    text-align: left;
    width: 30%;
    padding: 0.3rem 3px;
    border-radius: 5px;
    color: rgb(83, 83, 83);
    font-size: large;
}
button{
    padding-left: 10px;
    width: 5%;
    margin-left: 10px;
}
.Search{
    background-color: white;
    padding: 13px 10px;
    border-radius: 5px;
    color: rgb(83, 83, 83);
    font-size: large;
    margin-right: 10%;
    min-width: 10px;
}